.question-container {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    margin-left: 100px;
    width: 60%;
    align-items: center;
}

.radiofield {
    padding: 20px;
}

.question2-container {
    display: flex;
    flex-direction: row;
    margin: 100px;
}

.assesstitle {
    text-align: center;
    margin: 100px;

}

.answer {
    display: block;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    position: relative;
    margin: 0 34px;


    &:before {
        display: block;
        margin: 0 auto;
        content: "";
        border: 10px solid #008FAC;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background: #E5FAFF;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.50);
    }
}

.answer.checked {
    /* Oval Copy: */

    &:before {
        background: #008FAC;
        border: 10px solid #E5FAFF;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.50), inset 0 2px 3px 9px rgba(107, 107, 107, 0.50);
    }
}

.radiofield input[type="radio"] {
    display: block;
    position: absolute;
    left: -99999px;
}

.ratingMeaning {
    display: block;
    // position: absolute;
    // top: 110px;
    // left: -40%;
    // right: 0;
    font-size: 16px;
    color: #2E7599;
    letter-spacing: 0;
    text-align: center;
    margin-top: 10px;
    // width: 170px;
    // margin-left: -45px;
    // width: 175%;
}

.radiofield .rating {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 27px;
    text-align: center;
    font-family: OpenSans-Semibold;
    font-size: 48px;
    color: #008FAC;
    letter-spacing: 0;
    text-align: center;
    /*   margin-left: -15px; */
}

.answer.checked .rating {
    color: #fff;
}

.radiofieldDiv {
    display: flex;
}