.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    justify-content: flex-start;
}

.card {
    position: relative;
    width: 350px;
    height: 500px;
    padding: 30px;
    margin: 20px 20px 0;
    text-align: center;
    background-color: $brand1;
    border-radius: 12px;

    &.up-next {
        background: #008fac url("../img/wn-cloud.png") bottom left no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .btn_continue {

            padding: 15px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 88px;
            font-size: 18px;
            letter-spacing: 3px;
            text-transform: uppercase;
            border: 2px solid #ffffff;
            background: #018FAC;
            border: 2px solid #F9F9F9;
            border-radius: 86.4px;
            color: #FFFFFF;
            letter-spacing: 4.5px;
            text-align: center;

        }
    }

    &.check-in {
        background: #008fac url("../img/wn-cloud2.png") top right no-repeat;
        justify-content: center;

        h3 {
            font-size: 24px;
            line-height: 50px;

        }


        @import 'rating';

        .btn {
            position: absolute;
            bottom: 50px;
        }
    }

    &.overview {
        background: #008fac url("../img/wn-cloud3.png") bottom right no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .overview-complete {
            color: #fff;
            font-size: 24px;
            font-weight: normal;
            padding: 0;
            margin: 0;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
        }

        #donutchart svg g path {
            stroke: transparent;
            position: absolute;
            top: 200px;
        }
    }

    &.medical {
        background: #008fac url("../img/wn-cloud4.png") bottom left no-repeat;

        h3 {
            font-size: 42px;
            letter-spacing: 0;
            line-height: 52px;
            text-align: left;
        }

        .icon-medical {
            position: absolute;
            bottom: 40px;
            right: 40px;

        }
    }

    &.ava {
        background: #008fac url("../img/wn-cloud5.png") top right no-repeat;

        h3 {
            font-size: 42px;
            letter-spacing: 0;
            line-height: 52px;
            text-align: left;
        }
    }

    &.messages {
        background: #008fac url("../img/wn-cloud6.png") bottom right no-repeat;
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 42px;
            letter-spacing: 0;
            line-height: 52px;
            text-align: right;
            margin-top: auto;
            display: flex;
            flex-wrap: wrap;
            word-wrap: break-word;
            width: 94%;

        }

        .icon-messages {
            position: absolute;
            top: 40px;
            left: 40px;

        }
    }
}